---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ProjectPreview from "../../components/molecules/ProjectPreview.astro";

export async function getStaticPaths() {
  const allProjects = await getCollection("portfolio");
  const uniqueTags = [
    ...new Set(allProjects.flatMap((project) => project.data.tags)),
  ];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      projects: allProjects.filter((project) =>
        project.data.tags?.includes(tag)
      ),
    },
  }));
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<DefaultLayout pageTitle={tag.charAt(0).toUpperCase() + tag.slice(1)}>
  <div class="container flex flex-col gap-6 pt-4 pb-8">
    <div class="pt-2 border-t border-black">
      <h1 class="capitalize-first-letter">{tag}</h1>
    </div>
    <div class="flex flex-col gap-8">
      {
        projects.map((project) => (
          <>
            <ProjectPreview
              url={`/portfolio/${project.slug}/`}
              title={project.data.title}
              thumbnailSrc={project.data.thumbnail}
              tagline={project.data.tagline}
              tags={project.data.tags}
            />
          </>
        ))
      }
    </div>
  </div>
</DefaultLayout>
