---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectPreview from "../../components/molecules/ProjectPreview.astro";

export async function getStaticPaths() {
  const allProjects = await getCollection("work");
  const uniqueTags = [
    ...new Set(allProjects.flatMap((project) => project.data.tags)),
  ];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      projects: allProjects.filter((project) =>
        project.data.tags?.includes(tag)
      ),
    },
  }));
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<Layout pageTitle="tag" metaTitle={tag.charAt(0).toUpperCase() + tag.slice(1)}>
  <div class="container flex flex-col gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28 py-8 sm:py-10 md:py-12 2xl:py-16">
    <h1 class="capitalize-first-letter">{tag}</h1>
    <div
      class="flex flex-col gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28"
    >
      <div
        class="flex flex-col md:grid md:grid-cols-12 gap-6 md:gap-12 lg:gap-16 xl:gap-24 2xl:gap-28"
      >
        {
          projects.map((project) => (
            <>
              <ProjectPreview
                url={`/work/${project.slug}/`}
                title={project.data.title}
                thumbnailSrc={project.data.thumbnail}
                tagline={project.data.tagline}
                tags={project.data.tags}
              />
            </>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
