---
import Layout from "../layouts/Layout.astro";
import { nextMonthToLocale } from "../assets/scripts/site";
import { AVAILABILITY, AVAILABILITY_DATE } from "../consts";
import SocialsLink from "../components/atoms/SocialsLink.astro";
import Socials from "../components/molecules/Socials.astro";
---

<Layout pageTitle="contact" metaTitle="Contact" colorMode="dark">
  <div
    class="container flex flex-col gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28 py-8 sm:py-12 md:py-16 lg:py-20 xl:py-24 2xl:py-28"
  >
    <div class="flex flex-col gap-6 md:gap-12 lg:gap-16 xl:gap-24 2xl:gap-28">
      <div
        class="md:col-span-6 flex flex-col gap-4 sm:gap-8 md:gap-12 lg:gap-16 xl:gap-24 2xl:gap-28"
      >
        <div class="flex flex-col gap-4 md:gap-6">
          <h1 class="lg:max-w-[80vw] xl:max-w-[60vw]">
            I'm currently looking for new projects, so if you'd like to get in
            touch, feel free to reach out!
          </h1>
        </div>
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-12 gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28"
      >
        <form
          name="contact"
          action="https://formspree.io/f/xpzvpaea"
          method="POST"
          class="flex flex-col gap-6 xl:gap-12 lg:col-span-8"
        >
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-4 xl:gap-6">
              <label for="name">What's your name?</label>
              <input
                type="text"
                name="name"
                id="name"
                required
                placeholder="John Smith"
              />
            </div>
            <div class="flex flex-col gap-4 xl:gap-6">
              <label for="email">And your email?</label>
              <input
                type="email"
                name="email"
                id="email"
                required
                placeholder="j.smith@company.io"
              />
            </div>
            <div class="flex flex-col gap-4 xl:gap-6 col-span-2">
              <label for="services">What services are you looking for?</label>
              <select name="services" id="services" required>
                <option value="website">Website Design</option>
                <option value="app">App Design</option>
                <option value="illustration">Illustration</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col gap-4 xl:gap-6 relative">
            <label for="message">Tell me about your ideas</label>
            <textarea
              name="message"
              id="message"
              required
              placeholder="Hi Tom, I've got this project in mind and.."
              class="lg:text-xl"></textarea>
            <button
              type="submit"
              id="submit-button"
              class="button button--primary rounded-full w-28 h-28 lg:h-40 lg:w-40 absolute -bottom-16 left-6 lg:right-24 lg:left-auto lg:-bottom-20"
            >
              <span>Let's talk</span>
            </button>
          </div>
        </form>
        <div
          class="lg:col-span-4 flex flex-col gap-12 pt-16 mt-24 border-t border-white/20 lg:border-none lg:mt-0 lg:pt-0"
        >
          <img
            src="/img/tom.jpg"
            alt="Contact"
            class="aspect-square sm:aspect-video object-cover w-32 h-32 rounded-full"
          />

          <div class="grid sm:grid-cols-2 gap-12 lg:grid-cols-1">
            <div class="flex flex-col gap-4">
              <h5 class="text-caption--sm opacity-50">Availability</h5>
              <div
                class="text-xl flex items-center gap-3 group hover:text-primary-500 transition-colors select-none"
              >
                <i class="ph ph-calendar"></i>
                {
                  AVAILABILITY === true ? (
                    <span>Available for work in {nextMonthToLocale}</span>
                  ) : (
                    <span>Available for work in {AVAILABILITY_DATE}</span>
                  )
                }
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h5 class="text-caption--sm opacity-50">Contact details</h5>
              <SocialsLink
                text="Based in the Netherlands"
                icon="envelope"
                url="mailto:info@tomgraafmans.com"
                text="info@tomgraafmans.com"
              />
              <SocialsLink
                text="Based in the Netherlands"
                icon="phone"
                url="callto:+31622785377"
                text="+31 6 22 78 53 77"
              />
            </div>
            <div class="flex flex-col gap-4">
              <h5 class="text-caption--sm opacity-50">Other details</h5>
              <SocialsLink
                text="Based in the Netherlands"
                icon="house"
                url="https://en.wikipedia.org/wiki/Netherlands"
                external
              />
              <SocialsLink link={false} id="time-display" icon="clock" />
            </div>
            <div class="flex flex-col gap-4">
              <h5 class="text-caption--sm opacity-50">My socials</h5>
              <Socials />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  if (typeof window !== "undefined" && typeof document !== "undefined") {
    // Check if the current page URL matches the contact page URL
    if (window.location.pathname === "/contact/") {
      function isDaylightSaving(time: Date) {
        const jan = new Date(time.getFullYear(), 0, 1).getTimezoneOffset();
        const jul = new Date(time.getFullYear(), 6, 1).getTimezoneOffset();
        return Math.max(jan, jul) !== time.getTimezoneOffset();
      }

      function setAmsterdamTime() {
        const timeDisplay = document.querySelector("#time-display");

        if (timeDisplay) {
          // Get the current time in Amsterdam
          const amsterdamTime = new Date(
            new Date().toLocaleString("en-US", { timeZone: "Europe/Amsterdam" })
          );
          const formattedTime = amsterdamTime.toLocaleTimeString("nl-NL", {
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
          });

          // Determine the GMT offset (CET or CEST)
          const gmtOffset = isDaylightSaving(amsterdamTime) ? "GMT+2" : "GMT+1";

          // Display the Amsterdam time with GMT offset
          timeDisplay.textContent = `${formattedTime} ${gmtOffset}`;
        }
      }

      setAmsterdamTime();
      setInterval(setAmsterdamTime, 1000); // Update the time every second
    }
  }
</script>
