---
import { getCollection } from "astro:content";

import { SITE_NAME, SITE_DESCRIPTION } from "../consts";

import Layout from "../layouts/Layout.astro";
import ProjectPreview from "../components/molecules/ProjectPreview.astro";
import Hero from "../components/organisms/Hero.astro";
import Button from "../components/atoms/Button.astro";
import SkillPreview from "../components/molecules/SkillPreview.astro";
import Testimonial from "../components/molecules/Testimonial.astro";

const allProjects = await getCollection("work");
const allTestimonials = await getCollection("testimonials");
const firstProject = allProjects.length > 0 ? allProjects[0] : (null as any);
---

<Layout pageTitle="home" metaTitle="Designer & Developer">
  <Hero
    url={`/work/${firstProject.slug}/`}
    title={firstProject.data.title}
    tagline={firstProject.data.tagline}
    image={firstProject?.data.thumbnail}
  />

  <section
    id="introduction"
    class="py-12 sm:py-16 md:py-20 lg:py-24 xl:py-32 2xl:py-40"
  >
    <div
      class="container flex flex-col md:flex-row gap-4 md:gap-8 lg:gap-12 xl:gap-16"
    >
      <h3 class="order-2 text-3xl md:text-4xl lg:text-5xl !leading-tight">
        {SITE_DESCRIPTION}
      </h3>
      <h4 class="order-1 text-xl lg:text-2xl font-body md:whitespace-nowrap">
        My story
      </h4>
    </div>
  </section>

  <section id="projects" class="pb-8 md:pb-16 xl:pb-24 2xl:pb-28">
    <div
      class="container flex flex-col gap-8 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28"
    >
      <div
        class="flex flex-col md:grid md:grid-cols-12 gap-6 md:gap-12 lg:gap-16 xl:gap-24 2xl:gap-28"
      >
        {
          allProjects
            .slice(1, 7)
            .map((project: any) => (
              <ProjectPreview
                key={project.url}
                project={project}
                url={`/work/${project.slug}/`}
                title={project.data.title}
                thumbnailSrc={project.data.thumbnail}
                tagline={project.data.tagline}
                tags={project.data.tags}
              />
            ))
        }
      </div>
    </div>
    <div
      class="container flex flex-col md:flex-row md:justify-between md:items-center gap-4 pt-4 lg:pt-6 mt-8 md:mt-12 lg:mt-20 xl:mt-24 2xl:mt-28 border-t border-black"
    >
      <h5 class="text-3xl lg:text-4xl 2xl:text-5xl">Craving for more?</h5>
      <Button
        url="/work/"
        className="button--primary"
        title="See all cases"
        icon="arrow-line-up-right"
      />
    </div>
  </section>
  <section
    id="my-skills"
    class="py-8 md:py-16 xl:py-24 2xl:py-28 bg-neutral-100"
  >
    <div class="container flex flex-col gap-8 md:gap-16 xl:gap-24 2xl:gap-28">
      <h2 class="text-h1">What I can help you with</h2>
      <div class="grid gap-6 md:gap-16 xl:gap-24 2xl:gap-28 sm:grid-cols-2">
        <SkillPreview
          title="Development"
          description="For all my projects, I use a modern combination of tools and techniques, which enhances the quality and speed of your website."
          icon="code"
        />
        <SkillPreview
          title="Digital Design"
          description="When designing a website or app, I consider the user, the goal, and the context. This way, I create a user-friendly experience for both you and your customers."
          icon="magic-wand"
        />
        <SkillPreview
          title="Interaction Design"
          description="A website should not only look good but also be user-friendly. I ensure that your website or app is intuitive to use and a pleasure to interact with."
          icon="cursor-click"
        />
        <SkillPreview
          title="Illustrations"
          description="Whether you want to add a touch of creativity to your website, app, or marketing materials, I am ready to create unique illustrations that make your brand shine."
          icon="pencil-circle"
        />
      </div>
    </div>
  </section>
  <section id="tesimonials" class="py-8 md:py-16 xl:py-24 2xl:py-28">
    <div
      class="container flex flex-col md:flex-row gap-8 md:gap-16 xl:gap-24 2xl:gap-28"
    >
      {
        allTestimonials.map((testimonial) => (
          <Testimonial
            title={testimonial.data.title}
            content={testimonial.data.content}
            name={testimonial.data.referrer.name}
            jobTitle={testimonial.data.referrer.title}
            picture={testimonial.data.referrer.picture}
            company={testimonial.data.referrer.company.name}
            companyUrl={testimonial.data.referrer.company.url}
          />
        ))
      }
    </div>
  </section>
</Layout>
