---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import ProjectPreview from "../components/molecules/ProjectPreview.astro";

const allProjects = (await getCollection("work"))
  .filter((project) => project.data.pubDate)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
---

<Layout pageTitle="work" metaTitle="Work">
  <div
    class="container flex flex-col gap-6 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-28 py-8 sm:py-12 md:py-16 lg:py-20 xl:py-24 2xl:py-28"
  >
    <h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl">
      Working on a variety of projects for innovative clients in different
      industries, and cultivating creative collaborations.
    </h1>
    <div
      class="flex flex-col md:grid md:grid-cols-12 gap-6 md:gap-12 lg:gap-16 xl:gap-24 2xl:gap-28"
    >
      {
        allProjects.map((project: any) => (
          <ProjectPreview
            key={project.url}
            project={project}
            url={`/work/${project.slug}/`}
            title={project.data.title}
            thumbnailSrc={project.data.thumbnail}
            tagline={project.data.tagline}
            services={project.data.services}
          />
        ))
      }
    </div>
  </div>
</Layout>
