---
const {
  link = true,
  id,
  text,
  textBoolean = true,
  icon,
  iconStyle = "fill",
  external = false,
  url,
  size = "medium",
} = Astro.props;

let classes =
  "flex items-center gap-3 group hover:text-primary-600 transition-colors self-start";

if (size === "small") {
  classes += " text-base";
} else if (size === "medium") {
  classes += " text-xl";
} else if (size === "large") {
  classes += " text-2xl";
}
---

{
  link ? (
    <a href={url} target={external ? "_blank" : "_self"} class={classes}>
      <i
        class={`${
          iconStyle === "fill"
            ? `ph-fill ph-${icon ? icon : text + "-logo"}`.toLowerCase()
            : `ph-light ph-${icon ? icon : text + "-logo"}`.toLowerCase()
        } ph-${icon ? icon : text + "-logo"}`.toLowerCase()}
      />
      {textBoolean && <span id={id}>{text}</span>}
    </a>
  ) : (
    <div class={classes}>
      <i
        class={`${
          iconStyle === "fill"
            ? `ph-fill ph-${icon ? icon : text + "-logo"}`.toLowerCase()
            : `ph-light ph-${icon ? icon : text + "-logo"}`.toLowerCase()
        } ph-${icon ? icon : text + "-logo"}`.toLowerCase()}
      />
      {textBoolean && <span id={id}>{text}</span>}
    </div>
  )
}
