---
import Tag from "../atoms/Tag.astro";
const { thumbnailSrc, title, tagline, url, tags } = Astro.props;

const uniqueTags = Array.from(
  new Set(tags.map((tag: string) => tag.toLowerCase()))
);
---

<div class="flex flex-col gap-6">
  <a href={url}>
    <img
      src={thumbnailSrc}
      alt=`Thumbnail van ${title}`
      class="object-cover aspect-square sm:aspect-video"
      loading="lazy"
    />
  </a>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col items-start gap-1">
      <a href={url} class="transition-colors hover:text-primary-600">
        <h3 class="text-3xl">{title}</h3>
      </a>
      <p class="opacity-75 xl:text-lg">{tagline}</p>
    </div>
    <div class="flex flex-wrap gap-2">
      {uniqueTags.map((tag) => <Tag key={tag} tagTitle={tag} />)}
    </div>
  </div>
</div>
