---
import Service from "../atoms/Service.astro";
const { thumbnailSrc, title, tagline, url, services } = Astro.props;

const uniqueServices = Array.from(
  new Set(services.map((service: string) => service.toLowerCase()))
);
---

<div class="project-preview flex flex-col gap-6 md:gap-8 lg:gap-10 xl:gap-12">
  <a href={url}>
    <img
      src={thumbnailSrc}
      alt=`Thumbnail van ${title}`
      class="object-cover w-full h-full aspect-square sm:aspect-video md:aspect-auto hover:brightness-75 transition-all duration-500 ease-in-out"
      loading="lazy"
    />
  </a>
  <div class="flex flex-col gap-4 xl:gap-6">
    <div class="flex flex-col items-start 2xl:gap-1">
      <a href={url} class="transition-colors hover:text-secondary-500">
        <h3 class="text-3xl lg:text-4xl xl:text-5xl">{title}</h3>
      </a>
      <p class="opacity-75 md:text-lg lg:text-xl xl:text-2xl lg:font-light">
        {tagline}
      </p>
    </div>
    <div class="flex flex-wrap gap-2 lg:gap-3">
      {
        uniqueServices.map((service) => (
          <Service key={service} tagTitle={service} />
        ))
      }
    </div>
  </div>
</div>

<script>
  import { handleMouseOver } from "../../assets/scripts/customCursor";

  document.addEventListener("astro:page-load", () => {
    handleMouseOver(".project-preview img");
  });
</script>
