---
import Tag from "../atoms/Tag.astro";
const { thumbnailSrc, title, tagline, url, tags } = Astro.props;

const uniqueTags = Array.from(
  new Set(tags.map((tag: string) => tag.toLowerCase()))
);
---

<div class="project-preview flex flex-col gap-6 md:gap-8 lg:gap-10 xl:gap-12">
  <a href={url}>
    <img
      src={thumbnailSrc}
      alt=`Thumbnail van ${title}`
      class="object-cover aspect-square sm:aspect-video md:aspect-auto hover:brightness-75 transition-all duration-500 ease-in-out cursor-none"
    />
  </a>
  <div class="flex flex-col gap-4 xl:gap-6">
    <div class="flex flex-col items-start gap-1 lg:gap-2 2xl:gap-3">
      <a href={url} class="transition-colors hover:text-primary-600">
        <h3 class="text-3xl lg:text-4xl xl:text-5xl">{title}</h3>
      </a>
      <p class="opacity-75 md:text-lg lg:text-xl xl:text-2xl lg:font-light">
        {tagline}
      </p>
    </div>
    <div class="flex flex-wrap gap-2 lg:gap-3">
      {uniqueTags.map((tag) => <Tag key={tag} tagTitle={tag} />)}
    </div>
  </div>
  <div
    id="custom-cursor"
    class="ph-light text-primary-500 ph-arrow-up-left text-8xl fixed pointer-events-none z-10 translate-x-[-50%] translate-y-[-50%] rounded-none transition-transform scale-0 duration-300 ease-in-out"
  >
  </div>
</div>

<script>
  const customCursor = document.getElementById("custom-cursor");

  if (customCursor) {
    document.querySelectorAll(".project-preview img").forEach((image) => {
      if (image instanceof HTMLImageElement) {
        image.addEventListener("mousemove", (e: MouseEvent) => {
          customCursor.classList.remove("scale-0");
          customCursor.style.left = `${e.clientX}px`;
          customCursor.style.top = `${e.clientY}px`;
        });

        image.addEventListener("mouseout", () => {
          customCursor.classList.add("scale-0");
        });
      }
    });

    document.addEventListener("mousemove", (e: MouseEvent) => {
      customCursor.style.left = `${e.clientX}px`;
      customCursor.style.top = `${e.clientY}px`;
    });
  }
</script>
