---
import { ViewTransitions } from "astro:transitions";

const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" {title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/social-cover.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/social-cover.png" />

<meta name="generator" content={Astro.generator} />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-BPPYFHF27B"
></script>
<script>
  // Extend the global Window object
  (window as any).dataLayer = (window as any).dataLayer || [];
  function gtag(...args: any[]): void {
    (window as any).dataLayer.push(args);
  }
  gtag("js", new Date());

  gtag("config", "G-BPPYFHF27B");
</script>

<ViewTransitions />
