---
import Head from "../components/organisms/Head.astro";
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";
import "../assets/styles/main.css";

// Vendor imports
import "@phosphor-icons/web/light";
import "@phosphor-icons/web/regular";
import "@phosphor-icons/web/bold";
import "@phosphor-icons/web/fill";

const description =
  "Ik ben Tom, een developer & designer, gespecialiseerd in het maken van frisse en gebruiksvriendelijke websites & apps.";
const permalink = new URL("./", import.meta.url).toString();
const { pageTitle = "Developer & Designer", colorMode = "light" } = Astro.props;
let title = `Tom Graafmans • ${pageTitle}`;

function setColorMode(colorMode: string) {
  return colorMode;
}
---

<!doctype html>
<html
  lang="nl"
  class={`${setColorMode(colorMode) === "dark" ? "bg-black text-white" : ""}`}
>
  <Head {title} {description} {permalink} />
  <body>
    <Header colorMode={colorMode} />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import Lenis from "@studio-freight/lenis";
      const lenis = new Lenis();

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>
