---
import { SITE_NAME, SITE_DESCRIPTION, SITE_URL } from "../consts";
import { setColorMode } from "../assets/scripts/site";

import Head from "../components/organisms/Head.astro";
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";
import "../assets/styles/global.css";

// Vendor imports
import "@phosphor-icons/web/light";
import "@phosphor-icons/web/regular";
import "@phosphor-icons/web/bold";
import "@phosphor-icons/web/fill";

const permalink = SITE_URL;
const description = SITE_DESCRIPTION;
const {
  metaTitle = "Developer & Designer",
  colorMode = "light",
  pageTitle,
} = Astro.props;
const title = `${SITE_NAME} • ${metaTitle}`;

let isDarkMode = setColorMode(colorMode) === "dark";
---

<!doctype html>
<html
  lang="nl"
  {...isDarkMode
    ? { class: "font-normal leading-relaxed font-body bg-black text-white" }
    : { class: "font-normal leading-relaxed font-body" }}
>
  <Head {title} {description} {permalink} />
  <body>
    <Header colorMode={colorMode} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
