---
import { marked } from "marked";
import DefaultLayout from "./DefaultLayout.astro";
import Tag from "../../src/components/atoms/Tag.astro";

const { frontmatter } = Astro.props;
const contentHtml = marked(frontmatter.content);

const uniqueTags = Array.from(
  new Set(frontmatter.tags.map((tag: string) => tag.toLowerCase()))
);


---

<DefaultLayout>
  <section>
    <img src={frontmatter.thumbnail} alt={frontmatter.title} />
    <div class="container flex flex-col gap-6 py-8">
      <div class="flex flex-col gap-2">
        <h1>{frontmatter.title}</h1>
        <div class="flex flex-wrap gap-2">
          {uniqueTags.map((tag) => <Tag key={tag} tagTitle={tag} />)}
        </div>
      </div>
      <div class="flex flex-col gap-3" set:html={contentHtml} />
    </div>
  </section>
  <section id="next-case">
    <div class="container flex flex-col gap-6 py-8">
      <h2>Next Case Study</h2>

    </div>
  </section>
</DefaultLayout>
