---
import { marked } from "marked";
import DefaultLayout from "./DefaultLayout.astro";
import Tag from "../../src/components/atoms/Tag.astro";

const { frontmatter } = Astro.props;
const contentHtml = marked(frontmatter.content);

const uniqueTags = Array.from(
  new Set(frontmatter.tags.map((tag: string) => tag.toLowerCase()))
);

const colorMode = "dark";
---

<DefaultLayout pageTitle={frontmatter.title} colorMode="dark">
  <section>
    <img
      class="min-h-[50vh] object-cover"
      src={frontmatter.thumbnail}
      alt={frontmatter.title}
    />
    <div class="container flex flex-col gap-6 py-8">
      <div class="flex flex-col gap-4">
        <h1>{frontmatter.title}</h1>
        <div class="flex flex-wrap gap-2">
          {uniqueTags.map((tag) => <Tag key={tag} tagTitle={tag} />)}
        </div>
      </div>
      <div class="flex flex-col gap-3" set:html={contentHtml} />
    </div>
  </section>
  <section id="next-case">
    <div class="flex flex-col">
      <div
        class=`container pt-2 pb-8 border-t border-black ${colorMode === "dark" ? "border-white" : ""}`
      >
        <h2>Volgende case</h2>
      </div>
      <a href="#">
        <img
          class="min-h-[50vh] object-cover"
          src="https://via.placeholder.com/1920x1080"
          alt="Volgende case"
        />
      </a>
    </div>
  </section>
</DefaultLayout>
